<div class="nav nav-link">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Medical Record System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a (click)="login()">Login</a></li>
            <li><a Page (click)="doctor()">Doctor</a></li>
            <li><a (click)="patient()">Patient</a></li>
            <li><a (click)="registration()">Register</a></li>
            <li><a (click)="help()">Help</a></li>
          </ul>
        </div>
      </nav>
    </div>